.form-div{
  margin: 20px;
}
.typoGraphy{
  color: #1976d2;
  font-weight: 800;
}

.form-title{
  justify-content: flex-start;
  display: flex;
  margin-bottom: 10px;
}

.buttom-grid{
  justify-content: flex-end;
  display: flex;
  margin-left: 30px;
}

.card{
  margin: 20px;
}